#painting {
    text-align: center;
    margin: 20px;
}

.featured-painting-image{
    width: 40%;
    cursor: zoom-in;
}

.galleryDivs {
    width: 40%;
    cursor: zoom-in;
}

.zoomed {
    width: 100%;
    cursor: zoom-out;
}

#table {
    text-align: center;
}

#addToCart {
    margin-top: 20px;
}

#addToCart:hover {
    background-color: black;
    color: white;
}
